@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode (default) */
html,
body,
#root {
  background-color: #f9fafb; /* gray-50 */
  color: #111827; /* gray-900 */
}

/* Dark mode */
html.dark,
html.dark body,
html.dark #root {
  background-color: #0B0F1A;
  color: #f9fafb;
}
